<div class="container">
    <h1>Khoá học của tôi</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khoá học</th>
                {{! <th scope="col">Trình độ</th> }}
                <th scope="col">Thời gian tạo</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}"
                        data-bs-target="#exampleModal">Xoá</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Thông báo!!!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xoá không!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                <button id="btn-delete" type="button" class="btn btn-danger">Xoá</button>
            </div>
        </div>
    </div>
</div>
<form method="POST" name="delete-form"></form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseId;
        var deleteForm = document.forms['delete-form'];
        $('#exampleModal').on('show.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            courseId = button.data('id');
        });

        var btnDeleteCourse = document.getElementById('btn-delete');
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
            deleteForm.submit();
        }
    });
</script>